@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #8c8f8c;
}
.heightcalender{
  height: 93vh;
}
.task{
  animation: bounce 0.5s linear;
}
.ant-picker-calendar-date-content{
  /* background: #f6fafc;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 2px; */
}
.ant-picker-input input {
  text-align: center;
}
.ant-btn-sm , .ant-btn-primary{
  background: rgb(90, 222, 255);
}

@keyframes bounce {
  0% {
    transform: translateY(-100%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
::-webkit-scrollbar-track {
  background-color: #CBD5E0;
}
.ant-input-number{
  width: 38px !important
}
.dropzone {
  @apply border-2 border-gray-300 h-20  rounded-md p-2 items-center;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.imgs{
  z-index: -10;
}
.background{
  background: none !important;
}
.dz-details ,.dz-preview, .dz-progress , .dz-error-message, .dz-success-mark , .dz-error-mark{
  @apply hidden
}
/* .ant-picker-calendar-mode-switch{
  display: none !important;
} */

.height{
  height: 68.3333%;
}
/* .ant-modal-footer{
  display: none;
} */
.events {
  margin: 0;
  padding: 0;
  list-style: none;
}
.custom-modal .ant-modal-content {
  padding: 0;
}
.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}






